.card-header{
    font-family: times;
    font-style: italic;
    font-variant: small-caps;
    background-color: #171717;
    font-weight: 900;


}

#seguro{
        font: italic small-caps times;
        font-weight: 900;
}

#crd1{
    text-decoration: none;
    color: #9966ff;
    background-color:#171717;
}

#crd2{
    text-decoration: none;
    color: #9966ff;
    background-color:#171717;
}

#crd3{
    text-decoration: none;
    color: #9966ff;
    background-color:#171717;
}

#crd4{
    text-decoration: none;
    color: #9966ff;
    background-color:#171717;
}
 without the tags above, the field turns white, even if it is told not to in the a tag*/

a{
    text-decoration: none;
    color: #9966ff;
    background-color:!#171717;

}
/*I added this code to change what links do in general and it worked*/

a:hover, a:active{
    color: #8800FF;
}

body{
background-color: #171717;
color: #fdf5e6;
}
#x1y2 {
    color: #fdf5e6;
}

#callToAction{
color:#fdf5e6;
background-color: #171717;

}

#vlogocontainer{
    position: relative;
    top: 0;
    left: 33%;
}
#ctct {

}
.vlogo {

    background-color: #171717;
}
#svsoffered{
    font-family: times;
    font-style: italic;
    font-variant: small-caps;
    background-color: #171717;
    font-weight: 900;

}


#meetVickie {
    box-sizing: border-box;
    width:100%;
    height: 100%;
    background-color:#9966ff;
}

#seguro {
    font-family: times;
    font-style: italic;
    font-variant: small-caps;
    background-color: #171717;
    font-weight: 900;
}

#ul3 {
    color: #fdf5e6;
    font-size: 1rem;
    background-color:#243447;
    margin-left: justify;

}

#ul2 {
    color: #fdf5e6;
    background-color: #243447;
    font-size: 1rem;
    margin-left: justify;

}

#ul1 {
    color: #fdf5e6;
    font-size: 1rem;
    background-color: #243447;
    margin-left: justify;

}
#ul4 {
    background-color: #243447;
    color:#fdf5e6;
}

.lmft{
    position:relative;
    left: 45%;
}

#ci{
    color: white;
    position:relative;
    left: 43%;
    font-family: times;
    font-style: italic;
    font-variant: small-caps;
    background-color: #171717;
    font-weight: 900;
}

.logoA {
  box-sizing: border-box;
  max-height: 10rem;
  max-width: 10rem;
  font-size: 1rem;
  color: #42ABC5;
  background-color: #171717;
}
